<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="btl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="btl.Properties.Settings.BTLQuanlydiemTHPT_cshapsConnectionString"
            connectionString="Data Source=.;Initial Catalog=BTLQuanlydiemTHPT_cshaps;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <btl.Properties.Settings>
            <setting name="tennguoisudung" serializeAs="String">
                <value />
            </setting>
            <setting name="Matkhau" serializeAs="String">
                <value />
            </setting>
            <setting name="tendangnhap1" serializeAs="String">
                <value />
            </setting>
            <setting name="loaitaikhoan" serializeAs="String">
                <value>0</value>
            </setting>
        </btl.Properties.Settings>
    </userSettings>
</configuration>